The [RFC 5652 Section 5.4](https://tools.ietf.org/html/rfc5652#section-5.4) specifies that the message digest should be calculated over `SignedtAttributes` encoded with EXPLICIT `SET OF` tag rather than IMPLICIT `[0]` tag.